version: '3'

services:
  frontend:
    build: ./vue
    restart: always
    ports:
      - '8081:8080'
    depends_on:
      - keycloak
  keycloak:
    image: keycloak/keycloak
    restart: always
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - '8080:8080'
    volumes:
      - ./keycloak/NewRealm2.json:/opt/keycloak/data/import/NewRealm.json:ro
    command:
      - 'start-dev --import-realm'
  apigateway:
    build: ./apigateway
    restart: always
    ports:
      - '9000:9000'
  weight:
    build: ./weight
    restart: always
    depends_on:
      - weight_mariadb
  purchases:
    build: ./purchases
    restart: always
    depends_on:
      - mariadb
  weight_mariadb:
    image: mariadb
    restart: always
    environment:
      MYSQL_DATABASE: ms_ht_weight
      MARIADB_ROOT_PASSWORD: root
  purchases_mariadb:
    image: mariadb
    restart: always
    environment:
      MYSQL_DATABASE: ms_ht_purchases
      MARIADB_ROOT_PASSWORD: root
